# Android/JetBrains IDE
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Specific Gradle files
.kotlin
.navigation
capture.png

# Node.js (if you didn't have a separate .gitignore in /backend)
# backend/node_modules/
# backend/.env
